body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(images/bodyBg.png);
	background-repeat: repeat-x;
	color: #374176;
	background-color: #FFC838;
}
.style5 {font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #000000; }
.style7 {
	color: #3333FF;
	font-weight: bold;
	font-size: 24px;
}
.style8 {font-size: 24px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; color: #3333FF; }
.style10 {font-family: Arial, Helvetica, sans-serif}
.style11 {font-size: 12px}
.style12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-weight: bold;
}
.style13 {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.style14 {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
.style15 {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
}
.style16 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.style17 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
}
.style18 {color: #666666}
.style23 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style24 {color: #FF0000; font-size: 12px; }
.style25 {font-size: 18px}
.style26 {font-size: 24px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; }



ul.menu {list-style:none; margin:0; padding:0}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#FFFFFF; text-decoration:none;font-size:12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
ul.menu li {position:relative; float:left; margin-right:2px}
ul.menu ul {position:absolute; top:26px; left:0; background:#3C3B38; display:none; opacity:0; list-style:none}
ul.menu ul li {position:relative; border:1px dotted #ffffff; border-top:none; width:195px; margin:0}
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#3C3B38}
ul.menu ul li a:hover {background-color:#3C3B38}
ul.menu ul ul {left:100px; top:-1px}
ul.menu .menulink {padding:5px 18px 7px;font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:12px;width:auto}

ul.menu .sub {background:#085571 url(images/arrow.gif) 136px 8px no-repeat}
ul.menu .topline {border-top:1px solid #aaa}
